$white : #fff;
$gray: #fbfcfc;
$black: #282d34;
$gray_dark : #747577;
$gray_dark_2 : #D5D5D5;
$black_1: rgba(0, 0, 0, 0.1);
$black_4: rgba(0, 0, 0, 0.4);
$black_6: rgba(0, 0, 0, 0.6);
$black_8: rgba(0, 0, 0, 0.8);
$blue: #282936;
$green: #00cd9a;